<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Order Tea Suite" preserve-order="true">
  <test name="Test Order Tea" >
    <classes>
      <class name="Tests.OrderFlavoredTeaTest"/>
      <class name="Tests.OrderHerbalTeaTest"/>
      <class name="Tests.OrderLooseTeaTest"/>
    </classes>
 </test>
</suite>